@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Lato', sans-serif;
    height: auto;
}

.container{
    width:90%;
    height:100%;
    max-width: 1200px;
    margin:20px auto;
    padding:50px 0;
}

.title{
    text-align:center;
    font-size:3rem;
    margin: 20px 0;
}


header{
    height:80px;
    width: 100vw;
    background: #2F7336;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #AA3A38, #2F7336);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #AA3A38, #2F7336); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position:relative;
    top:0;
    left:0;
}

.navegador__container{
    padding:20px 0; 
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin:0 auto;
}

.navegador{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navegador a{
    text-decoration: none;
    font-weight: 400;
    color:#fff;
}

.logo{
    height: 70px;
    object-fit: cover;
    padding:10px 0;
}

.contenido{
    min-height: calc(100vh - 90px);
    width: 100%; 
    max-height: auto;
    padding:20px 0;
    margin:20px 0;
}

.pagination-container{
    height: 80px;
    margin:40px auto;
}